In [1]:
import numpy as np
import pandas as pd

##after entering a function we can see guide for that function

In [4]:
#python list to series
my_series = [5,6,23,12,5,234]
var = pd.Series(my_series)
var

0      5
1      6
2     23
3     12
4      5
5    234
dtype: int64

In [16]:
# row numbers
var[0]

5

In [17]:
var[2:4]

2    23
3    12
dtype: int64

In [19]:

#adding labels using i
index = ['A','B','C','D','E','F']
var2 = pd.Series(my_series, index)
var2

A      5
B      6
C     23
D     12
E      5
F    234
dtype: int64

In [21]:
#adding labels using 
index = ['A','B','C','D','E','F','G']
var3 = pd.Series(my_series,['A','B','C','D','E','F'])
var3

A      5
B      6
C     23
D     12
E      5
F    234
dtype: int64

In [22]:
#adding labels using index elements
my_index = ['A','B','C','D','E','F']
var2 = pd.Series(my_series, index=my_index)
var2

A      5
B      6
C     23
D     12
E      5
F    234
dtype: int64

In [24]:
var2['A':'E']

A     5
B     6
C    23
D    12
E     5
dtype: int64

In [26]:
var2['C']

23

In [30]:
#dictionary
y = {}
y['one'] = 1
y['two'] = 2
y

{'one': 1, 'two': 2}

In [29]:
y['two'] = 'dos'
y

{'one': 1, 'two': 'dos'}

In [31]:
del y['two']
y

{'one': 1}